.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #bff3ef, #e0edee );
  color:black;
}

body{
  background-color:white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

#socials {
  padding: 25px;

}

div h3 {
  font-family: "Lobster", cursive;
}

div p {
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  padding: 20px;
}

h5 {

  padding-top: 15px;
}

footer{
  padding: 50px;
}

#elevation {
  padding: 10px;
  color: orange;
}

.fitnessdates {
  font-family: "Lobster", cursive;
  padding: 50px;
}

#diablopadding{
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}