.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #bff3ef, #e0edee );
  color:black;
}

body{
  background-color:white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

#socials {
  padding: 25px;

}

div h3 {
  font-family: "Lobster", cursive;
}

div p {
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  padding: 20px;
}

footer{
  padding: 50px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}