.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #bff3ef, #e0edee );
  color:black;
}

body{
  background-color:white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

#socials {
  padding: 25px;

}

div h3 {
  font-family: "Lobster", cursive;
}

div p {
  font-family: 'Courier New', Courier, monospace;
}

div h6 {font-size:1rem;}